<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Slide Template</title>
  <link rel="stylesheet" type='text/css' media='all' href="../assets/css/base.css">
  <link rel="stylesheet" type='text/css' media='all' href="../assets/css/colors.css">
  <link rel="stylesheet" type='text/css' media='all' href="../assets/css/svg-icons.css">
</head>

<body>

<main role="main">
  <article id="webslides" class="horizontal">

    <section>
      <span class="background"></span>
        <div class="wrap aligncenter">
          <h1><strong>Slide Template</strong></h1>
          <p class="text-intro">iwamatsu0430</p>
        </div>
      </span>
    </section>

    <section>
      <span class="background"></span>
        <div class="wrap aligncenter">
          <p class="text-intro">contents foo bar</p>
          <p>refer to <a href="https://github.com/jlantunez/webslides" target="_blank">WebSlides</a></p>
        </div>
      </span>
    </section>

  </article>
</main>

<script src="../assets/js/webslides.js"></script>
<script>
  window.ws = new WebSlides();
</script>
<script defer src="../assets/js/svg-icons.js"></script>

</body>

</html>
